<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='icone.png')}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

    <title>My Media Mix</title>
  </head>

  <body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Website title with a link to the homepage -->
    <a class="navbar-brand home-space" href="/dashboard">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Navbar links -->
      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/reelrecs"><span class="">Reel Recs</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/reviewsearch"><span class="">Reviews</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/searchuser"><span class="">Find Users</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/searchmovie"><span class="">Find Movie</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/additem"><span class="">Add Movie/Series</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/addreview"><span class="">Add Review</span></a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/addingfriend">Manage Friends</a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/currentlyairing">Currently Airing</a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 250px;">
        <li class="nav-item">
          <a class="nav-link" href="/editprofile">Edit Profile</a>
        </li>
      </ul>

      <ul class="navbar-nav" style="padding-right: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="/">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    


    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>